@page "/"

<PageTitle>Home</PageTitle>
<p><br></p>

<h2>Overview</h2>
<p>This Website is used to input data and to calculate the SPIFF Sales Commissions. &nbsp;The input used will apply to all time frames, so if you update a calculation input field, that criteria will be used for all time period calculations; This tool does not keep track of the past when conditions change.</p>
<p>It is recommended to EXPORT all final calculations from the Detailed Output Page and Summary Page each week.</p>
<p>Please limit the date selector to running one (1) week at a time.</p>
<h2>INPUT Instructions</h2>
<p>Use the first 5 tabs for INPUT - All these pages have functionality for <span style="text-decoration: underline;">Creating, Reading, Updating, Deleting (CRUD)</span> records:</p>
<p>Be Extra Careful about modifying entries as these actions will be difficult to undo.</p>
<ol>
    <li>Dealers Page: Shows the dealers in Region 11 with relevant INPUT Fields.</li>
    <li>Employees Page: Shows all employees where &apos;Active&apos; means they are included in the Spiff.</li>
    <li>Packages Page: Includes all Packages that relate to the SPIFF calculations by Dealer Code.</li>
    <li>Services Page: Includes all Services that relate to the SPIFF calculations by Dealer Code.</li>
    <li>Invoices Page: Shows all Invoices and Services that occurred during the time frame selected.</li>
</ol>
<h2>OUTPUT Instructions</h2>
<p>Use the last 2 tabs for OUTPUT - These pages do not include filters / search or CRUD operations. &nbsp;These screens are indended to be Exported to Excel using the button provided.</p>
<ol>
    <li>Detailed Output Page: Shows the detailed calculations for each employee.</li>
    <li>Summary Output Page: Shows a summary of Commission components by employee for submitting to Payroll.</li>
</ol>
<h2>Notes</h2>
<p>If the output looks wrong please look at the INPUT pages to make sure all the inputs are correct. &nbsp;Also please pay attention to missing data and / or incorrect data entries.</p>