@page "/maindataservices"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AppForSpiff.Models
@using AppForSpiff.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AppForSpiff.Data.AppForSpiffContext> DbFactory
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<!-- Search Section -->
<div class="mb-3">
    <div class="form-group mb-3">
        <input type="text" class="form-control" style="max-width: 300px;" placeholder="Search..." @bind="searchTerm" @bind:event="oninput" />
        <button class="btn btn-primary mt-2" @onclick="ApplySearchFilter">Search</button>
    </div>
</div>


<p>
    <a href="maindataservices/create">Create New</a>
</p>

<QuickGrid Class="table" Items="filteredData">
    <PropertyColumn Property="maindataservice => maindataservice.DealerCode" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ServiceCode" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ServiceName" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Description" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Required_Channel" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Min_Sell_Price_Car" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Min_Sell_Price_Truck" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ComAmount" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ComMinPercent" Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ComMaxPercent" Sortable="true" />

    <TemplateColumn Context="maindataservice">
        <a href="@($"maindataservices/edit?service_id={maindataservice.Service_ID}")">Edit</a> |
        <a href="@($"maindataservices/details?service_id={maindataservice.Service_ID}")">Details</a> |
        <a href="@($"maindataservices/delete?service_id={maindataservice.Service_ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>


@code {
    private AppForSpiffContext context = default!;
    private IQueryable<MainDataService> originalData = default!;
    private IQueryable<MainDataService> filteredData = default!;
    private string searchTerm = string.Empty;
    private int CurrentPage = 0;
    private const int PageSize = 35;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
        originalData = context.MainDataService;
        filteredData = originalData;
    }

    private void ApplySearchFilter()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredData = originalData
                .Where(maindata =>
                maindata.DealerCode.Contains(searchTerm) ||
                maindata.ServiceCode.Contains(searchTerm) ||
                maindata.ServiceName.Contains(searchTerm)
            );
        }
        else
        {
            filteredData = originalData;
        }

        CurrentPage = 0;
        StateHasChanged(); // Refresh the grid after updating filteredData
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
