@page "/maindataservices"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AppForSpiff.Models
@using AppForSpiff.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AppForSpiff.Data.AppForSpiffContext> DbFactory
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="maindataservices/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MainDataService">
    <PropertyColumn Property="maindataservice => maindataservice.DealerCode"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ServiceCode"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ServiceName"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Description"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Required_Channel"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.Min_Sell_Price"  Sortable="true" />
    <PropertyColumn Property="maindataservice => maindataservice.ComAmount"  Sortable="true" />

    <TemplateColumn Context="maindataservice">
        <a href="@($"maindataservices/edit?service_id={maindataservice.Service_ID}")">Edit</a> |
        <a href="@($"maindataservices/details?service_id={maindataservice.Service_ID}")">Details</a> |
        <a href="@($"maindataservices/delete?service_id={maindataservice.Service_ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppForSpiffContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
