@page "/maindataservices"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AppForSpiff.Models
@using AppForSpiff.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AppForSpiff.Data.AppForSpiffContext> DbFactory
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<!-- Search Section -->
<div class="mb-3">
    <div class="form-group mb-3">
        <input type="text" class="form-control" style="max-width: 300px;" placeholder="Search..." @bind="searchTerm" @bind:event="oninput" />
        <button class="btn btn-primary mt-2" @onclick="ApplySearchFilter">Search</button>
    </div>
</div>


<p>
    <a href="maindataservices/create">Create New</a>
</p>

<QuickGrid Class="table" Items="filteredData">
    <PropertyColumn Property="maindataservice => maindataservice.DealerCode" Sortable="true" Title="Dealer"/>
    <PropertyColumn Property="maindataservice => maindataservice.ServiceCode" Sortable="true" Title="Service Code"/>

    <TemplateColumn Title="Service Name" Context="maindataservice">
        <div style="width: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            @maindataservice.ServiceName
        </div>
    </TemplateColumn>

    @if (showPriceColumn)
    {
        <PropertyColumn Property="maindataservice => maindataservice.ServiceName" Sortable="true" Title="Service Name" />
        <PropertyColumn Property="maindataservice => maindataservice.ServiceName" Sortable="true" Title="Service Name" />
        <PropertyColumn Property="maindataservice => maindataservice.Description" Sortable="true" />
        <PropertyColumn Property="maindataservice => maindataservice.Required_Channel" Sortable="true" />
    }

    <PropertyColumn Property="maindataservice => maindataservice.fmt_Min_Sell_Price_Car" Sortable="true" Title="Min Sell Price Car"/>

    <PropertyColumn Property="maindataservice => maindataservice.fmt_Min_Sell_Price_Truck" Sortable="true" Title="Min Sell Price Truck"/>
    <PropertyColumn Property="maindataservice => maindataservice.fmt_ComAmount" Sortable="true" Title="Commission"/>
    <PropertyColumn Property="maindataservice => maindataservice.ComMinPercent" Sortable="true" Title="Min Commission Percent"/>
    <PropertyColumn Property="maindataservice => maindataservice.ComMaxPercent" Sortable="true" Title="Max Commission Percent"/>

    <TemplateColumn Context="maindataservice">
        <div style="width: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <a href="@($"maindataservices/edit?service_id={maindataservice.Service_ID}")">Edit</a> |
            <a href="@($"maindataservices/details?service_id={maindataservice.Service_ID}")">Details</a> |
            <a href="@($"maindataservices/delete?service_id={maindataservice.Service_ID}")">Delete</a>
        </div>
    </TemplateColumn>
</QuickGrid>


@code {
    private AppForSpiffContext context = default!;
    private IQueryable<MainDataService> originalData = default!;
    private IQueryable<MainDataService> filteredData = default!;
    private string searchTerm = string.Empty;
    private int CurrentPage = 0;
    private const int PageSize = 35;
    private bool showPriceColumn = false;  // Set to false to hide the Price column

    private void TogglePriceColumn()
    {
        showPriceColumn = !showPriceColumn;  // Toggle visibility
    }
    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
        originalData = context.MainDataService;
        filteredData = originalData;
    }

    private void ApplySearchFilter()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredData = originalData.Where(maindataservice =>
            (maindataservice.DealerCode != null && maindataservice.DealerCode.Contains(searchTerm)) ||
            (maindataservice.ServiceCode != null && maindataservice.ServiceCode.Contains(searchTerm)) ||
            (maindataservice.ServiceName != null && maindataservice.ServiceName.Contains(searchTerm)) ||
            (maindataservice.Min_Sell_Price_Car.HasValue && maindataservice.Min_Sell_Price_Car.Value.ToString().Contains(searchTerm)) ||
            (maindataservice.Min_Sell_Price_Truck.HasValue && maindataservice.Min_Sell_Price_Truck.Value.ToString().Contains(searchTerm)) ||
            (maindataservice.ComAmount.HasValue && maindataservice.ComAmount.Value.ToString().Contains(searchTerm)) ||
            (maindataservice.ComMinPercent.HasValue && maindataservice.ComMinPercent.Value.ToString().Contains(searchTerm)) ||
            (maindataservice.ComMaxPercent.HasValue && maindataservice.ComMaxPercent.Value.ToString().Contains(searchTerm))
            );
        }
        else
        {
            filteredData = originalData;
        }

        CurrentPage = 0;
        StateHasChanged(); // Refresh the grid after updating filteredData
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
