@page "/maindata"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using AppForSpiff.Models
@using AppForSpiff.Data
@implements IAsyncDisposable
@inject IDbContextFactory<AppForSpiff.Data.AppForSpiffContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="maindata/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MainData">
    <PropertyColumn Property="maindata => maindata.Inv_InvoiceHeader_ID" />
    <PropertyColumn Property="maindata => maindata.DealerCode" />
    <PropertyColumn Property="maindata => maindata.SalesmanEmployee_ID" />
    <PropertyColumn Property="maindata => maindata.Channel_Number" />
    <PropertyColumn Property="maindata => maindata.InvoiceDate" />
    <PropertyColumn Property="maindata => maindata.InvoiceNumber" />
    <PropertyColumn Property="maindata => maindata.InvoiceTotal" />
    <PropertyColumn Property="maindata => maindata.FirstName" />
    <PropertyColumn Property="maindata => maindata.LastName" />
    <PropertyColumn Property="maindata => maindata.PackageItem_ID" />
    <PropertyColumn Property="maindata => maindata.Svs_Service_ID" />
    <PropertyColumn Property="maindata => maindata.UnitPrice" />
    <PropertyColumn Property="maindata => maindata.Quantity" />
    <PropertyColumn Property="maindata => maindata.TotalInvoiceDiscountApplied_Stage04" />
    <PropertyColumn Property="maindata => maindata.ServiceCode" />
    <PropertyColumn Property="maindata => maindata.ServiceName" />
    <PropertyColumn Property="maindata => maindata.Description" />

    <TemplateColumn Context="maindata">
        <a href="@($"maindata/edit?invoiceheader_service_id={maindata.InvoiceHeader_Service_ID}")">Edit</a> |
        <a href="@($"maindata/details?invoiceheader_service_id={maindata.InvoiceHeader_Service_ID}")">Details</a> |
        <a href="@($"maindata/delete?invoiceheader_service_id={maindata.InvoiceHeader_Service_ID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppForSpiffContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
